<a href="https://colab.research.google.com/github/micha1zajac/to_discover_and_practice_python/blob/main/Python_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
import numpy

#######################

#Plyty = pandas.DataFrame({"Wykonawca": ['Queen', 'Eminem', 'Nirvana', 'Green Day', 'Eddie Vedder', 'G-Eazy', 'Bon Jovi', 'Happysad', 'Leonard Cohen', 'Hans Solo', 'Frank Sinatra', "Rag'N'Bone Man", "Eros Ramazzotti", "ABBA", "Linkin Park", "Imagine Dragons", "Dżem", "Problem", "Guns N' Roses", "O.S.T.R", "VNM", "Kortez", "Alvaro Soler", "Kwiat Jabłoni", "Manchester Orchestra", "Red Hot Chili Peppers", "Pięć Dwa", "Małpa", "Kings Of Leon", "Bastille", "Pearl Jam", "Hemp Gru", "Krzysztof Klenczon", "David Gurret", "Coldplay", "Video", "Quebonafide", "Zeus", "Pezet", "Riverside", "Miuosh", "Gubson"]}
 #                )
test = pandas.DataFrame()

In [ ]:
## Basic information

df.head() # head print first five rows of df
df.info() # info about names of columns, data types
df.shape # number of rows and columns (r, c)
df.describe() # quick describe of the summary statistic in df
df.values # data values in 2d
df.columns # list of column names
df.index # start, stop and step information

## Sorting and subseting

df.sort_values("column_name") # arg ascendin,
df.sort_values(["column_name", "column_name_2"], ascending=[False, True]) # sort multiple columns

df["column_name"] # slice one column
df[['col_name', 'col_name_2']] # slice of multiple column in df

df["col_name"] > 50 # subsetting rows, it prints ligical type in every rows in that column
df[df["col_name"] > 50] # prints only rows which pass the statement
df[(df["col_name"] == "1") & (df["col_name_2"] == "20")] # sorting for two conditions

variable = df["col_name"].isin(["1", "20"]) # df[].isin() <-- isin funcrion of df object to filter on multiple values of a categorical variable
df[variable]

## New colums

df["col_name_new"] = df["col_name"] / df["col_name_2"] # adding new columns based on calculation on two existing columns

## Summary statistics and agregating

df["col_name"].mean() # where the center of the data is
df["col_name"].median() # the center number of set
df["col_name"].mode() # most ofen appear number in set
df["col_name"].min()
df["col_name"].max()
df["col_name"].var() # variance is a squerd deviation from the mean of a random var
df["col_name"].std() # standard deviation
df["col_name"].sum()
df["col_name"].quantile()

df["col_name"].agg("mean") # aggregate the data as mean from all rows from column "col_num"
df[["col_name", "col_name_2"]].agg(["mean", "min"]) # its possible to aggregate also with numpy function

df["col_name"].cumsum() # cumulative sum, means cumulative numbers from "col_name" - each row increas of another row's value.
df["col_name"].cummax()
df["col_name"].cummin()
df["col_name"].cumprod() # cumulative product, means multiplying values from rows together

## Summarize categorical data by counting (avoid double counting)

df.drop_duplicates(subset="col_name") # to avoid duplicates in data befour counting use drop_duplicates function

df["col_name"].value_counts(sort=True, normalize=True) # count values in "col_name" column and sort them or set the narmalization

## Grouped summary statistics

df.groupby("observation_col_name")["col_name"].mean() # to grupe by some observation, column variable. Select the "col_name" and take the mean
df.groupby(["observation_col_name", "obserwation_col_name_2"])[["col_name", "col_name_2"]].agg(['min', 'max', 'std']) # combination of this commands are important for ds and looks pretty
---------------------------groupby columns---------------------------agregate columns-------------function to agg----

# Pivot tables
df.pivot_table(values="col_name",                 # pivot table do the same thing lik above command, but is less complicated. Value arg is column which we want to summarize by (above by agregation).
               index="observation_col_name",      # index arg is column which we want to group by.
               aggfunc=np.median,                 # we can agregate and take summary statistic (median) from index
               columns="observation_col_name_2",  # it adds observation col to create pivot table and fill missing values by NaN
               fill_value=0,                      # changing NaN values to 0
               margins=True)                      # the last column creates mean of rows, except of missing values

# Joining data
## Inner join = it is returning only the rows of data with matching values in the columns of both tables. Like one-to-many relations.

df.merge(df2, on='ward') # it takes first dataframe (df) and marge it with second dataframe (df2) on columnt 'word'
df.merge(df2, on+'word', suffixes=('_add_to_repeat_column', '_add_to_2_repeat_column')) # suffixes adds rests to the repeated column names

### one-to-one relations = EVERY row in the left table is related to ONLY one row in the right table. Same number of rows after marging.
### one-to-many relations = EVERY row in left table is related to one or MORE rows in the right table. After marging this tape of relations number of rows should increased.

df.merge(df2, on=('ward')) \
  .merge(df3, on=('ward_2')) \
  .merge(df4, on=('ward_3'))

## Left join = it's returning all the rows from left table and matching values from right table for special columns. Like one-to-one relations.
df.merge(df2, on=('word'), how='left')

## Right join = mirror to the left join
df.merge(df2, how='right', left_on='left_word', right_on='right_word' )

## Outer join = each of left and right values from paricular columns are merged
df.merge(df2, how='outer')

## Itself join = its works like df merge with there copy. for example to show the networks between records.
df.merge(df, left_on='word', right_on='word_2', suffixes=('_org', '_copy'))

# Merging on indexi